<ion-content>
  <app-custom-card-button
    [height]="'18vh'"
    [background-image]="
      'assets/UI_Images/Regular_Size/App_UI_Buttons_small_size_Opaque-assets/User_account.png'
    "
    [classes]="'ion-no-margin custom-card custom-image custom-drop-shadow'"
  >
    <span class="nav-icon-background" (click)="onCancel()">
      <ion-icon
        size="large"
        class="main-header-text"
        name="arrow-back-outline"
      ></ion-icon>
    </span>
    <div>
      <h2 class="main-header-text">MY PROMPT</h2>
    </div>
  </app-custom-card-button>

  <div class="ion-padding ion-margin-top">
    <ion-textarea
      #prompt
      [value]="createPrompt"
      label="Enter prompt"
      labelPlacement="floating"
      fill="outline"
      placeholder="Example : This photo as Harley Quinn"
      maxlength="1000"
      [counter]="true"
      rows="15"
      [clearOnEdit]="true"
    >
    </ion-textarea>
    <app-main-action-button (click)="onSave()">SAVE</app-main-action-button>
  </div>
</ion-content>
