<ng-container
  *ngIf="toastService.spinnerValue$ | async as showSpinner; else notShow"
>
  <ion-spinner class="spinnerPosition" name="lines"></ion-spinner>
</ng-container>
<ng-template #notShow>
  <form [formGroup]="userLoginForm">
    <div class="main-container">
      <div class="ion-padding-top ion-margin-top">
        <ion-img style="height: 197px" src="\assets\icon\Frame 1.svg"></ion-img>
      </div>

      <div class="ion-padding ion-margin-top">
        <ion-input
          label="Email"
          formControlName="email"
          fill="outline"
          labelPlacement="floating"
        ></ion-input>
        <ng-container *ngIf="controls.email.errors && controls.email.touched">
          <ion-text color="danger" *ngIf="controls.email.errors?.['required']"
            >Email is required</ion-text
          >
          <ion-text color="danger" *ngIf="controls.email.errors?.['email']"
            >Invalid Email Format</ion-text
          >
        </ng-container>
      </div>
      <div class="ion-padding ion-margin-top">
        <ion-input
          label="Password"
          type="password"
          formControlName="password"
          fill="outline"
          labelPlacement="floating"
        ></ion-input>
        <ng-container
          *ngIf="controls.password.errors && controls.password.touched"
        >
          <ion-text
            color="danger"
            *ngIf="controls.password.errors?.['required']"
            >Password is required</ion-text
          >
        </ng-container>
      </div>

      <div class="ion-padding">
        <app-main-action-button type="submit">
          <ion-text class="btn-text">SIGN IN</ion-text></app-main-action-button
        >
      </div>
      <hr class="divider" />
      <div class="ion-padding">
        <app-main-action-button (click)="toSignUp()">
          <ion-text class="btn-text"
            >CREATE ACCOUNT</ion-text
          ></app-main-action-button
        >
      </div>
      <div class="ion-padding">
        <app-main-action-button>
          <div class="ion-padding">
            <ion-img src="\assets\icon\google.png"></ion-img>
          </div>
          <ion-text class="btn-text">Sign in with google</ion-text>
        </app-main-action-button>
      </div>
      <div class="ion-padding">
        <app-main-action-button>
          <div class="ion-padding">
            <ion-img src="\assets\icon\apple.png"></ion-img>
          </div>
          Sign in with apple
        </app-main-action-button>
      </div>
    </div>
  </form>
</ng-template>
