img {
  height: auto;
  min-width: 100%;
}

// ion-row ion-col {
//   padding: 0%;
//   margin: 0%;
// }

// ion-col {
//   padding: 20px;
// }

.filter-card {
  padding: 10px;
}

ion-card {
  padding: 0%;
  margin: 0%;
}

.style-row-container {
  padding: 10px 0 0 0;
}

.prompt-card-container {
  padding: 12px 10px 0 10px;
}

.main-button-container {
  padding: 10px 10px 20px 10px;
}

ion-card {
  height: 12.32vh;
}
