ion-fab-button::part(native) {
    background-color: #b7f399;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    color: black;
  }
  
  ion-fab-button::part(native):hover::after {
    background-color: #a3e681;
  }
  
  ion-fab-button::part(native):active::after {
    background-color: #87d361;
  }


.icon {
  position: absolute;
  top: 50%; /* Position the icon vertically at 50% of the parent's height */
  left: 50%; /* Position the icon horizontally at 50% of the parent's width */
  transform: translate(-50%, -50%); /* Center the icon perfectly */
  font-size: 30px; /* Adjust the icon size as needed */
    // color: grey;
}

//   ion-card-content{
//     height: 15vh;
//   }