<ion-content [fullscreen]="true">

  <form [formGroup]="promptForm" (ngSubmit)="onSavePrompt()">

  <app-main-image [image]="image"></app-main-image>

  <ion-card (click)="openPromptModal()">
    <ion-card-header>
      <ion-card-subtitle>Your Prompt</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{userPrompt}}
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col *ngFor="let item of filterOptions">
      <app-custom-card-button (click)="openFilterModal(item.value)" [stylingImage]="item.styleImage">
        <span *ngIf="item.name === 'format'; else elseBlock">
          <!-- <ion-icon  size="large" name="{{item.iconName}}" *ngIf="item.value === 'format'"></ion-icon> -->
          {{item.name  | uppercase}}
        </span>
        <ng-template #elseBlock>
          <span >
          <ion-icon  size="large" name="{{item.iconName}}" *ngIf="item.value === 'format'"></ion-icon>
          <div >
            {{item.name  | uppercase}}
          </div>
        </span>
        </ng-template>
        <span>
        </span>
      </app-custom-card-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <!-- <app-main-action-button>save</app-main-action-button> -->
      <ion-button expand="block" type="submit">Save</ion-button>
    </ion-col>
  </ion-row>
</form>

</ion-content>
