img {
  height: auto;
  min-width: 100%;
}

// ion-card-subtitle {
//   font-size: 2rem;
//   font-weight: 500;
// }

// h6 {
//   font-size: 1.6rem;
//   font-weight: 700;
// }

// p {
//   font-size: 1.6rem;
//   font-weight: 300;
// }

.filter-card {
  padding: 1rem;
}

ion-card {
  padding: 0%;
  margin: 0%;
}

ion-textarea {
  font-size: 1.6rem;
  height: auto;
}

ion-content {
  height: auto;
}

.style-row-container {
  padding: 1rem 0 0 0;
}

.prompt-card-container {
  padding: 1.2rem 1rem 0 1rem;
}

.main-button-container {
  padding: 1rem 1rem 2rem 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .bold-text {
//   font-size: large;
//   font-weight: 600;
// }
