<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon size="large" name="arrow-back-outline" [routerLink]="['/tabs/gallery']" ></ion-icon>
    </ion-buttons>
    <ion-title>Image Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class=" image-container">
    <app-main-image [image]="imageDetails['url']" ></app-main-image>
    <div class="icon-container">
      <ion-fab-button size="small">
        <ion-icon size="small" name="heart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small">
        <ion-icon size="small" name="expand"></ion-icon>
      </ion-fab-button >
      <ion-fab-button size="small">
        <ion-icon size="small" name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small">
        <ion-icon size="small" name="share-social"></ion-icon>
      </ion-fab-button>
    </div>
  </div>

    <div class="ion-text-center ion-margin-top">
    <ion-chip>
      <ion-label>Unknown Khalesi</ion-label>
      <ion-icon name="pencil"></ion-icon>
    </ion-chip>
  </div>

  <div class="ion-text-center ion-margin-top">
    <ion-chip>
      <ion-label>Screen Image 360 x 360</ion-label>
    <ion-badge class="ion-margin-start" color="warning">XO</ion-badge>
    </ion-chip>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block">{{'Share in global feed' | uppercase}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block">{{'download' | uppercase}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">{{'print' | uppercase}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
