.custom-gradient-button {
  --background: linear-gradient(to right, #d1236f, #b03d82, #7b58a0, #a589bb);
  --color: #fff;
  --font-weight: bold;
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --border-radius: 20px;
}
