<div>
  <swiper-container
    [modules]="swiperModules"
    [slidesPerView]="2"
    depth="100"
    modifier="1"
    rotate="50"
    scale="1"
    slideShadows="true"
    stretch="0"
    [initialSlide]="1"
    [spaceBetween]="20"
    [loop]="true"
    delay="500"
    [autoplay]="true"
  >
    <ng-container *ngIf="slides">
      <swiper-slide *ngFor="let slide of slides?.images">
        <img
          *ngIf="slide.imageUrl"
          (click)="selectCategory(slide.imageUrl, slide.id)"
          src="{{ slide?.imageUrl }}"
          alt=""
        />
      </swiper-slide>
    </ng-container>
  </swiper-container>
</div>
