.body {
  margin: 20px;
}

// :host {
//   display: block;
//   // width: 100%;
//   width: auto;
//   .swiper-container {
//     width: auto;
//     height: 100%;
//   }
//   .swiper-slide {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     img {
//       width: 100%;
//       height: 200px;
//     }
//   }
// }

// div {
//   margin-top: 10px;
//   height: 22vh;
//   swiper-container {
//     swiper-slide {
//       height: 22vh;
//       img {
//         width: 100%;
//         height: 18vh;
//         border-radius: 10px;
//         // box-shadow: -1px 11px 13px -6px rgb;
//       }
//     }
//   }
// }

.skeleton {
  width: 100%;
  height: 18vh;
  border-radius: 10px;
  box-shadow: -1px 11px 13px -6px rgb;
}
