<app-app-header></app-app-header>
<ion-content>
  <!-- <app-custom-card-button
    [height]="'18vh'"
    [background-image]="'assets/UI_Images/WebP_Regular_Size/App_Filters_Titles_small_size_opaque-assets/my_gallery.webp'"
    [classes]="'ion-no-margin custom-card custom-image custom-drop-shadow'"
  >
    <span class="nav-icon-background" routerLink="../">
      <ion-icon
        size="large"
        class="main-header-text"
        name="arrow-back-outline"
      ></ion-icon>
    </span>
    <div>
      <h2 class="main-header-text">MY GALLERY</h2>
    </div>
  </app-custom-card-button> -->
  <ion-grid>
    <ion-row>
      <ion-segment #segmentValue value="generated">
        <ion-segment-button value="generated">
          <ion-label>Generated</ion-label>
        </ion-segment-button>
        <ion-segment-button value="faceswapped">
          <ion-label>Faceswapped</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ng-container *ngIf="segmentValue.value === 'generated'">
        <ng-container
          *ngIf="galleryService.galleryImages$ | async as galleryImages"
        >
          <ion-col
            size="4"
            *ngFor="let item of galleryImages"
            (click)="go(item)"
          >
            <ion-card class="ion-no-padding ion-no-margin custom-drop-shadow">
              <ion-img [src]="item?.imageUrl"></ion-img>
            </ion-card>
          </ion-col>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="segmentValue.value === 'faceswapped'">
        <ng-container
          *ngIf="galleryService.faceswapImages$ | async as faceswapImages"
        >
          <ion-col
            size="4"
            *ngFor="let item of faceswapImages"
            (click)="go(item)"
          >
            <ion-card class="ion-no-padding ion-no-margin custom-drop-shadow">
              <ion-img [src]="item?.imageUrl"></ion-img>
            </ion-card>
          </ion-col>
        </ng-container>
      </ng-container>

      <!-- <ion-col size="4" *ngFor="let item of galleryData" (click)="go(item)">
        <ion-card class="ion-no-padding ion-no-margin custom-drop-shadow">
          <ion-img [src]="item.url"></ion-img>
        </ion-card>
      </ion-col> -->

      <!-- <ion-col size="4" *ngFor="let item of galleryData" (click)="go(item)">
        <ion-card class="ion-no-padding ion-no-margin custom-drop-shadow">
          <ion-img [src]="item.url"></ion-img>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <!-- <app-masonry-gallery
  (imageDetail)="toImageDetails($event)"
  [data]="galleryData">
</app-masonry-gallery> -->
</ion-content>
