.icon-background {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: var(--ion-component-background);
  padding: 3%;
  border-radius: 2rem;
}

.custom-sm-btn-background {
  --background: rgba(48, 48, 48, 0.8);
  --background-activated: #303030;
  --background-hover: #303030;
  // --opacity: 0.5;
  --border-radius: 10px;
  // --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: #ffffff;
}
