.custom-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1.25rem;
}

.custom-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}