<app-app-header></app-app-header>
<!-- <ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar> -->
<ion-content>
  <ion-searchbar
    class="custom tadsa"
    show-cancel-button="never"
    placeholder="Seach style or tag"
  ></ion-searchbar>
  <div class="main-container">
    <ng-container
      *ngIf="faceswapCategories$ | async as faceswapCategories; else loader"
    >
      <ng-container *ngFor="let category of faceswapCategories">
        <div class="select-chip">
          <ion-chip>
            <ion-label>{{category.name}}</ion-label>
          </ion-chip>
          <ion-text (click)="toFaceswapCategory(category.id)">
            See all
          </ion-text>
        </div>
        <app-slider [slides]="category"></app-slider>
      </ng-container>
    </ng-container>
    <ng-template #loader>
      <app-skeleton-loader></app-skeleton-loader>
    </ng-template>
  </div>
  <!-- <app-masonry-gallery (imageDetail)="toImageDetails($event)" [data]="globalData"></app-masonry-gallery> -->
</ion-content>
