// .images {
//   padding: 16px;
//   column-count: 3;
// }

// .one-image {
//   display: inline-block;
//   margin: 0 2px 10px;
//   padding: 5px;
// }

// ion-grid,
// ion-row,
// ion-col {
//   padding: 5px;
//   margin: 5px;
// }

ion-segment {
  background: #222222;
  position: sticky;
  top: 0px;
  z-index: 10000;
}
