<app-app-header></app-app-header>
<ion-content>
  <ion-searchbar
    show-cancel-button="never"
    placeholder="Seach styleor tag"
  ></ion-searchbar>

  <div class="main-container">
    <ng-container *ngIf="faceswapCategories$ | async">
      <div *ngFor="let category of faceswapCategories$ | async">
        <ng-container *ngIf="category.id !== 0; else skeleton">
          <ion-chip (click)="toFaceswapCategory(category.id)"
            >{{category.name}}</ion-chip
          >
        </ng-container>
        <ng-template #skeleton>
          <ion-skeleton-text
            class="skeleton-chip"
            animated="true"
          ></ion-skeleton-text>
        </ng-template>
        <app-slider [slides]="category"></app-slider>
      </div>
    </ng-container>
  </div>
  <!-- <app-masonry-gallery (imageDetail)="toImageDetails($event)" [data]="globalData"></app-masonry-gallery> -->
</ion-content>
