<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding-start">
    <ion-img  style="height: 2.875rem; width: 14.68rem;" src="../../../../assets/icon/Header_logo.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button routerLink="/user">
        <ion-icon aria-hidden="true" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <app-masonry-gallery (imageDetail)="toImageDetails($event)" [data]="globalData"></app-masonry-gallery>
</ion-content>