<ion-content>
  <app-custom-card-button
    [height]="'18vh'"
    [background-image]="'assets/UI_Images/WebP_Regular_Size/App_UI_Buttons_small_size_Opaque-assets/User_account.webp'"
    [classes]="'ion-no-margin custom-card custom-image'"
  >
    <ion-fab-button
      size="small"
      routerLink="../"
      class="custom-sm-btn-background back-btn"
    >
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
    <div>
      <h2 class="main-header-text">MY ACCOUNT</h2>
    </div>
  </app-custom-card-button>

  <div class="main-container ion-text-center">
    <ion-grid>
      <ion-row>
        <ng-container *ngIf="userOptions$ | async as userOptions">
          <ng-container
            *ngIf="userOptions[0].name !== 'skeleton'; else skeleton"
          >
            <ion-col
              size="6"
              class="ion-padding"
              *ngFor="let userOption of userOptions"
            >
              <img
                style="height: auto; width: 100%; border-radius: 20px"
                [routerLink]="userOption.name === 'my info' ? 'user-info' : userOption.name "
                [src]="userOption.url"
              />

              <ion-text>
                <ng-container *ngIf="userOption.name === 'my info'; else other">
                  <ng-container *ngIf="authService.userLoggedIn; else Register">
                    <h6>{{ userOption.name | uppercase}}</h6>
                  </ng-container>
                  <ng-template #Register>
                    <h6>{{'Register' | uppercase}}</h6>
                  </ng-template>
                </ng-container>
                <ng-template #other>
                  <h6>{{userOption.name | uppercase}}</h6>
                </ng-template>
              </ion-text>
              <span> </span>
            </ion-col>
          </ng-container>
          <ng-template #skeleton>
            <ion-col
              size="6"
              class="ion-padding"
              *ngFor="let userOption of userOptions"
            >
              <ion-skeleton-text
                style="height: 100%; width: 100%; border-radius: 20px"
                class="skeleton"
                [animated]="true"
              ></ion-skeleton-text>
              <span> </span>
            </ion-col>
          </ng-template>
        </ng-container>
        <ng-template #skeleton> </ng-template>
      </ion-row>
    </ion-grid>
  </div>
  <ion-row *ngIf="authService.userLoggedIn">
    <ion-col class="ion-padding">
      <app-main-action-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <p class="button-text ion-no-margin"></p>
        Logout
      </app-main-action-button>
    </ion-col>
  </ion-row>
  <!-- <ion-grid>

    <ion-row>
      <ion-col>
        <app-custom-card-button
         [enableAsButton]="true"
         routerLink="user-account"
         [classes]="'ion-no-margin ion-margin-start ion-margin-end custom-card custom-image'"
         [height]="'18vh'"
         [background-image]="'https://picsum.photos/500'"
         >
          <div>
            <h2>
              <ion-icon name="person"></ion-icon>
              USER ACCOUNT
            </h2>
          </div>
        </app-custom-card-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-custom-card-button
         [enableAsButton]="true"
         routerLink="subscription"
         [classes]="'ion-no-margin ion-margin-start ion-margin-end custom-card custom-image'"
         [height]="'18vh'"
         [background-image]="'https://picsum.photos/600'"
        >
          <div class="label-background">
            <h2>
              <ion-icon name="key"></ion-icon>
              SUBSCRIPTION
            </h2>
          </div>
        </app-custom-card-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-custom-card-button
         [enableAsButton]="true"
         routerLink="orders"
         [classes]="'ion-no-margin ion-margin-start ion-margin-end custom-card custom-image'"
         [height]="'18vh'"
         [background-image]="'https://picsum.photos/400'"
        >
          <div class="label-background">
            <h2>
              <ion-icon name="timer"></ion-icon>
              ORDERS
            </h2>
          </div>
        </app-custom-card-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-custom-card-button
         [enableAsButton]="true"
         routerLink="settings"
         [classes]="'ion-no-margin ion-margin-start ion-margin-end custom-card custom-image'"
         [height]="'18vh'"
         [background-image]="'https://picsum.photos/500'"
         >
          <div class="label-background">
            <h2>
              <ion-icon name="settings"></ion-icon>
              SETTINGS
            </h2>
          </div>
        </app-custom-card-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-custom-card-button
         [enableAsButton]="true"
         routerLink="help"
         [classes]="'ion-no-margin ion-margin-start ion-margin-end custom-card custom-image'"
         [height]="'18vh'"
         [background-image]="'https://picsum.photos/300'"
        >
          <div class="label-background">
            <h2>
              <ion-icon name="information-circle"></ion-icon>
              HELP
            </h2>
          </div>
        </app-custom-card-button>
      </ion-col>
    </ion-row>

  </ion-grid> -->
</ion-content>
