<ion-content>
  <app-custom-card-button
    [height]="'18vh'"
    [background-image]="'assets/UI_Images/WebP_Regular_Size/App_UI_Buttons_small_size_Opaque-assets/Subscription.webp'"
    [classes]="'ion-no-margin custom-card custom-image'"
  >
    <ion-fab-button
      size="small"
      routerLink="../"
      class="custom-sm-btn-background back-btn"
    >
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
    <div>
      <h2 class="main-header-text">SUBSCRIPTION</h2>
    </div>
  </app-custom-card-button>

  <div class="main-container">
    <div class="ion-padding">
      <app-custom-card-button
        [height]="'18vh'"
        [classes]="'custom-card-border-radius  custom-drop-shadow'"
      >
        <ion-row class="ion-margin">
          <ion-col size="5" class="ion-text-center ion-padding-top">
            <ion-badge class="freeSubBadge">Free</ion-badge>
          </ion-col>
          <ion-col size="7">
            <ion-text>
              <ul>
                <li>Ads to generate</li>
                <li>Regular generation</li>
                <li>Watermark</li>
                <li>Up to 15 images in our gallery</li>
              </ul>
            </ion-text>
          </ion-col>
        </ion-row>
      </app-custom-card-button>
    </div>

    <div class="ion-padding">
      <app-custom-card-button
        [height]="'20vh'"
        [classes]="'custom-card-border-radius  custom-drop-shadow'"
      >
        <ion-row class="ion-margin">
          <ion-col size="5" class="ion-text-center ion-padding-top">
            <ion-badge>Pro</ion-badge>
            <h4 class="bold-text">2,99€/week</h4>
          </ion-col>
          <ion-col size="7">
            <ion-text>
              <ul>
                <li>No ads</li>
                <li>Faster generation</li>
                <li>Negative prompt</li>
                <li>No watermark</li>
                <li>Unlimited images in your gallery</li>
              </ul>
            </ion-text>
          </ion-col>
        </ion-row>
      </app-custom-card-button>
    </div>
  </div>
</ion-content>
