<ion-content>
  <app-custom-card-button
    [height]="'18vh'"
    [background-image]="'assets/UI_Images/WebP_Regular_Size/App_UI_Buttons_small_size_Opaque-assets/Subscription.webp'"
    [classes]="'ion-no-margin custom-card custom-image'"
  >
    <span class="nav-icon-background" routerLink="../">
      <ion-icon
        size="large"
        class="main-header-text"
        name="arrow-back-outline"
      ></ion-icon>
    </span>
    <div>
      <h2 class="main-header-text">SUBSCRIPTION</h2>
    </div>
  </app-custom-card-button>

  <div class="main-container">
    <div class="ion-padding">
      <app-custom-card-button
        [height]="'18vh'"
        [classes]="'custom-card-border-radius'"
      >
        <ion-row class="ion-margin">
          <ion-col size="5" class="ion-text-center ion-padding-top">
            <ion-badge class="freeSubBadge">Free</ion-badge>
          </ion-col>
          <ion-col size="7">
            <ion-text>
              <ul>
                <!-- <li>15 image generation</li>
                <li>3 X 4 upscaling</li>
                <li>up to 20 images in your gallery</li> -->
                <li>Ads to generate</li>
                <li>Regular generation</li>
                <li>Watermark</li>
                <li>Up to 15 images in our gallery</li>
              </ul>
            </ion-text>
          </ion-col>
        </ion-row>
      </app-custom-card-button>
    </div>

    <div class="ion-padding">
      <app-custom-card-button
        [height]="'20vh'"
        [classes]="'custom-card-border-radius'"
      >
        <ion-row class="ion-margin">
          <ion-col size="5" class="ion-text-center ion-padding-top">
            <ion-badge>Pro</ion-badge>
            <h4 class="bold-text">2,99€/week</h4>
          </ion-col>
          <ion-col size="7">
            <ion-text>
              <ul>
                <li>No ads</li>
                <li>Faster generation</li>
                <li>Negative prompt</li>
                <li>No watermark</li>
                <li>Unlimited images in your gallery</li>
                <!-- <li>15 image generation</li>
                <li>3 X 4 upscaling</li>
                <li>up to 20 images in your gallery</li> -->
              </ul>
            </ion-text>
          </ion-col>
        </ion-row>
      </app-custom-card-button>
    </div>

    <!-- <div class="ion-padding">
      <app-custom-card-button
        [height]="'18vh'"
        [classes]="'custom-card-border-radius'"
      >
        <ion-row>
          <ion-col class="ion-text-center ion-padding-top">
            <ion-badge>SILVER</ion-badge>
            <h4>5,99€/mo</h4>
          </ion-col>
          <ion-col>
            <ion-text>
              <h3 class="ion-no-margin">What you get :</h3>
              <p class="ion-no-margin">30 image generation</p>
              <p class="ion-no-margin">5 X 8 upscaling</p>
              <p class="ion-no-margin">up to 30 images in your gallery</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </app-custom-card-button>
    </div>

    <div class="ion-padding">
      <app-custom-card-button
        [height]="'18vh'"
        [classes]="'custom-card-border-radius'"
      >
        <ion-row>
          <ion-col class="ion-text-center ion-padding-top">
            <ion-badge>GOLD</ion-badge>
            <h4>7,99€/mo</h4>
          </ion-col>
          <ion-col>
            <ion-text>
              <h3 class="ion-no-margin">What you get :</h3>
              <p class="ion-no-margin">50 image generation</p>
              <p class="ion-no-margin">5 X 16 upscaling</p>
              <p class="ion-no-margin">up to 50 images in your gallery</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </app-custom-card-button>
    </div>

    <div class="ion-padding">
      <app-custom-card-button
        [height]="'18vh'"
        [classes]="'custom-card-border-radius'"
      >
        <ion-row>
          <ion-col class="ion-text-center ion-padding-top">
            <ion-badge>ADVANCED</ion-badge>
            <h4>3,99€/week</h4>
          </ion-col>
          <ion-col>
            <ion-text>
              <h3 class="ion-no-margin">What you get :</h3>
              <p class="ion-no-margin">Unlimited generation</p>
              <p class="ion-no-margin">10 X 16 upscaling</p>
              <p class="ion-no-margin">unlimited images in your gallery</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </app-custom-card-button>
    </div> -->
  </div>
</ion-content>
