ion-tabs {
  // background: var(--ion-color-secondary);
  // background: red;
  ion-tab-bar {
    position: relative;
    // width: 90%;
    transform: translate(-50%, -17%);
    left: 50%;
    border-radius: 30px;
    padding-bottom: 0;
    overflow: hidden;
    // box-shadow: 0px -5px 10px rgb(3 181 170 / 8%);
    height: 60px;
    // --background: var(--ion-color-light);
    // background: red;

    ion-tab-button {
      // --background: var(--ion-color-light);
      background: #171515;
      --color: #656565;
      ion-icon {
        font-size: 1rem;
      }
      ion-label {
        font-size: 1.2rem;
      }
    }
  }
}
