// .rounded-bottom {
//   // border-radius: 0 0 1.0625rem 1.0625rem;
//   border-radius: 50%;
//   object-fit: cover;
//   overflow: hidden;
// }
.custom-sm-btn-background {
  --background: rgba(48, 48, 48, 0.8);
  --background-activated: #303030;
  --background-hover: #303030;
  // --opacity: 0.5;
  --border-radius: 10px;
  // --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: #ffffff;
}

.back-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
