ion-thumbnail {
  height: 12vh;
  width: 12vh;
  img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
  }
}

h5 {
  font-size: 1.6rem;
  font-weight: 600;
}

p {
  font-size: 1.4rem;
  font-weight: 600;
}

.price {
  font-size: 1.4rem;
  font-weight: 600;
  color: #c3c6c9;
}
