<ion-content>
  <ng-container *ngIf="fragment$ |async as fragment">
    <app-main-image
      imgStyle="mainImgDefault"
      [image]="imageDetails['imageUrl']"
    ></app-main-image>
    <div class="icon-container">
      <ion-fab-button size="small" class="custom-sm-btn-background">
        <ion-icon size="small" name="expand"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        size="small"
        class="custom-sm-btn-background"
        *ngIf="fragment === 'faceswapImage' || 'generatedImage'"
      >
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        *ngIf="fragment === 'galleryImage'"
        id="delete-image-alert"
        size="small"
        class="custom-sm-btn-background"
      >
        <ion-icon size="small" name="trash"></ion-icon>
      </ion-fab-button>
      <ion-alert
        mode="ios"
        trigger="delete-image-alert"
        class="custom-alert"
        header="Are you sure?"
        [buttons]="deleteButtons"
      ></ion-alert>
    </div>

    <div class="main-container ion-text-center">
      <div class="ion-padding">
        <ion-chip
          class="custom-drop-shadow"
          *ngIf="fragment === 'galleryImage'"
        >
          <ion-label>{{imageDetails?.name}}</ion-label>
          <ion-icon (click)="presentAlert()" name="pencil"></ion-icon>
        </ion-chip>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-padding">
            <app-main-action-button (click)="shareImage()">
              <ion-icon
                class="ion-padding-horizontal"
                name="share-social"
              ></ion-icon>
              <p class="button-text ion-no-margin">Share your art !</p>
            </app-main-action-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-padding">
            <app-main-action-button (click)="removeWaterMark()">
              <ion-icon class="ion-padding-horizontal" name="tv"></ion-icon>
              <p class="button-text ion-no-margin">Remove Watermark</p>
              <ion-icon class="ion-padding-horizontal" name="play"></ion-icon>
            </app-main-action-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-padding" *ngIf="fragment === 'galleryImage'">
            <app-main-action-button
              ><p class="button-text ion-no-margin">Upscale</p>
              <ion-icon
                class="ion-padding-horizontal"
                name="download"
              ></ion-icon
            ></app-main-action-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="fragment === 'generatedImage'">
          <ion-col class="ion-padding">
            <app-main-action-button (click)="generateAnother()">
              <ng-container
                *ngIf="toastService.spinnerValue$ | async as showSpinner; else generateImage"
              >
                <ion-spinner class="spinnerPosition" name="lines"></ion-spinner>
              </ng-container>
              <ng-template #generateImage>
                <ion-icon class="ion-padding-horizontal" name="tv"></ion-icon>
                <p class="button-text ion-no-margin">Generate Another</p>
                <ion-icon class="ion-padding-horizontal" name="play"></ion-icon>
              </ng-template>
            </app-main-action-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
</ion-content>
