<ion-content>
  <app-custom-card-button
    [height]="'18vh'"
    [background-image]="'assets/UI_Images/WebP_Regular_Size/App_UI_Buttons_small_size_Opaque-assets/Settings.webp'"
    [classes]="'ion-no-margin custom-card custom-image'"
  >
    <!-- <span class="nav-icon-background" routerLink="../">
      <ion-icon
        size="large"
        class="main-header-text"
        name="arrow-back-outline"
      ></ion-icon>
    </span> -->
    <ion-fab-button
      size="small"
      routerLink="../"
      class="custom-sm-btn-background back-btn"
    >
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
    <h2 class="main-header-text">SETTINGS</h2>
  </app-custom-card-button>

  <ion-list [inset]="true">
    <ion-item>
      <ion-select
        label="Language: "
        label-placement="fixed"
        placeholder="Select Language"
      >
        <ion-select-option value="english">English</ion-select-option>
        <ion-select-option value="french">French</ion-select-option>
        <ion-select-option value="hindi">Hindi</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-toggle justify="space-between">Notifications</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-toggle justify="space-between">Enable Dark Mode</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-toggle justify="space-between">Negative Prompt</ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<!-- (ionChange)="enableDark($event)" -->
