<ion-content>
  <app-custom-card-button
    [height]="'18vh'"
    [classes]="'ion-no-margin custom-card custom-image'"
    [background-image]="'assets/UI_Images/WebP_Regular_Size/App_UI_Buttons_small_size_Opaque-assets/User_Info.webp'"
  >
    <span class="nav-icon-background" routerLink="../">
      <ion-icon
        class="main-header-text"
        size="large"
        name="arrow-back-outline"
      ></ion-icon>
    </span>
    <div>
      <h2 class="main-header-text">MY INFO</h2>
    </div>
  </app-custom-card-button>

  <div class="main-container">
    <ion-list [inset]="true">
      <ion-item>
        <ion-input label="User Name" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="First Name" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Last Name" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Email"
          type="email"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Password"
          type="password"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Phone Number" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Address Line 1" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Address Line 2" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Zip Code" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="City" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="State/Region" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Country" labelPlacement="floating"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <app-main-action-button>CREATE ACCOUNT</app-main-action-button>
    </div>
  </div>
</ion-content>
