<ion-content>
  <app-custom-card-button
    [height]="'18vh'"
    [classes]="'ion-no-margin custom-card custom-image'"
    [background-image]="'assets/UI_Images/WebP_Regular_Size/App_UI_Buttons_small_size_Opaque-assets/User_Info.webp'"
  >
    <span class="nav-icon-background" routerLink="../">
      <ion-icon
        class="main-header-text"
        size="large"
        name="arrow-back-outline"
      ></ion-icon>
    </span>
    <div>
      <h2 class="main-header-text">USER INFO</h2>
    </div>
  </app-custom-card-button>

  <div class="main-container">
    <ng-container class="centered-content">
      <app-image-picker classFlag="avatar">
        <h1 class="bold-text ion-padding-top ion-no-margin ion-no-padding">
          Add Avatar
        </h1>
      </app-image-picker>
    </ng-container>

    <app-user-signup></app-user-signup>

    <!-- <app-user-signin *ngIf="false"></app-user-signin> -->
  </div>
</ion-content>
