<ion-content>
  <app-custom-card-button
    [height]="'18vh'"
    [classes]="'ion-no-margin custom-card custom-image'"
    [background-image]="'assets/UI_Images/WebP_Regular_Size/App_UI_Buttons_small_size_Opaque-assets/User_Info.webp'"
  >
    <ion-fab-button
      size="small"
      routerLink="../"
      class="custom-sm-btn-background back-btn"
    >
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
    <div>
      <h2 class="main-header-text">USER INFO</h2>
    </div>
  </app-custom-card-button>

  <div class="main-container">
    <ng-container class="centered-content">
      <app-image-picker classFlag="avatar">
        <h1 class="bold-text ion-padding-top ion-no-margin ion-no-padding">
          Add Avatar
        </h1>
      </app-image-picker>
    </ng-container>
    <ng-container>
      <ion-spinner
        *ngIf="toastService.spinnerValue$ | async; else user"
        class="spinnerPosition"
        name="lines"
      ></ion-spinner>
      <ng-template #user>
        <app-user-signup [userData]="userdata"></app-user-signup>
      </ng-template>
    </ng-container>
  </div>
</ion-content>
