<ion-content>
  <app-custom-card-button
    [height]="'18vh'"
    [classes]="'ion-no-margin custom-card custom-image'"
    [background-image]="backgroundImage"
  >
    <ion-fab-button
      size="small"
      (click)="onCancel()"
      class="custom-sm-btn-background back-btn"
    >
      <ion-icon size="small" name="close"></ion-icon>
    </ion-fab-button>
    <h2 class="main-header-text">
      {{ filterType | titlecase }}
    </h2>
  </app-custom-card-button>

  <ng-container *ngIf="dispayData$ | async as dispayData">
    <div class="main-container">
      <ion-grid>
        <ion-row>
          <ion-col
            *ngFor="let data of dispayData.data.new_data"
            class="ion-text-center"
            size="4"
          >
            <div class="ion-activatable">
              <ion-radio-group (click)="onSelectOption(data)">
                <ion-radio labelPlacement="none" [value]="data">
                  <img
                    class="custom-img-btn custom-drop-shadow"
                    [src]="data?.imageUrl"
                  />
                  <ion-text
                    class="ion-text-center ion-text-wrap custom-img-btn-text"
                  >
                    <ion-note>{{ data?.name | titlecase }}</ion-note>
                  </ion-text>
                </ion-radio>
                <ion-ripple-effect></ion-ripple-effect>
              </ion-radio-group>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
</ion-content>
