.image-select {
  position: relative;
  object-fit: cover;
  overflow: hidden;
  background: #171515;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
}
.faceswapUpload {
  height: 40.785rem;
  ion-icon {
    height: 12rem;
    width: 12rem;
    color: white;
  }
}

.avatar {
  height: 70vw;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ion-avatar {
  height: 20vw;
  width: 20vw;
}

.optCreateBorderRadius {
  border-radius: 1.0625rem;
  height: 7rem;
}

.ion-spinner {
  z-index: 1000;
}

// .optCreateUpload {
//   border-radius: 1.0625rem;
//   ion-icon {
//     height: 7rem;
//     width: 7rem;
//     color: white;
//   }
// }

// ion-icon {
//   height: 12rem;
//   width: 12rem;
//   color: white;
// }

// ion-icon {
//   height: 7rem;
//   width: 7rem;
//   color: white;
// }
