/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "./theme/fonts.scss";

@import "./theme/variables.scss";

// :root {
//   --ion-padding-start: 0;
//   --ion-padding-end: 0;
//   --ion-padding-top: 0;
//   --ion-padding-bottom: 0;
// }

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: "Mulish";
  font-size: 62.5%;
}

* {
  font-family: Lato;
}

ion-card-content {
  font-size: 1.6rem;
  font-weight: 600;
}

ion-alert,
ion-label,
ion-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.custom-alert {
  --font-size: larger;
  --font-weight: 600;
}

p {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}

h6 {
  font-size: 1.6rem;
  font-weight: 700;
}

ion-note {
  color: #ffffff;
  font-weight: 600;
}

ion-icon {
  height: 2.5rem;
  width: 2.5rem;
}

:root {
  --ion-padding: 1rem;
  --ion-margin: 1rem;
}

ion-grid {
  padding: 0;
}

.main-container {
  padding: 1rem;
}

ion-button {
  margin: 0;
}

.nav-icon-background {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  border-radius: 17%;
}

.main-header-text {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.815rem;
}

.custom-sm-btn-background {
  --background: rgba(48, 48, 48, 0.8);
  --background-activated: #303030;
  --background-hover: #303030;
  --border-radius: 1rem;
  --color: #ffffff;
}

.main-img-action-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2%; /* Adjust the vertical position */
  left: 50%;
  transform: translateX(-50%);
}

.main-img-nav-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.custom-drop-shadow {
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
}

.custom-img-btn {
  border-radius: 2rem;
}

.image-container {
  width: 100%;
  max-width: 30rem;
  aspect-ratio: 1;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.custom-img-btn-text {
  position: absolute;
  color: white;
  left: 50%;
  width: 100%;
  height: auto;
  display: block;
  transform: translateX(-50%);
  text-align: center;
  bottom: 1.5rem;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 1);
  h6 {
    font-weight: 700;
    line-height: 1.452rem;
  }
}

// for radio buttons
ion-radio::part(container) {
  display: none;
}

ion-radio::part(flex) {
  display: none;
}

//for cards
.custom-card-border-radius {
  border-radius: 2rem;
}

// ion-radio {
//   text-align: center !important;
// }

.faceSwapImageUpload {
  border-radius: 0 0 1.0625rem 1.0625rem;
  height: 42.765vh;
  ion-icon {
    height: 12rem;
    width: 12rem;
    color: white;
  }
}

.spinnerPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatarImageUpload {
  border-radius: 50%;
  height: 70vw;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  ion-icon {
    height: 12rem;
    width: 12rem;
    color: white;
  }
}

.toast-text {
  font-size: medium;
  font-weight: 600;
}

.bold-text {
  font-size: large;
  font-weight: 600;
}

.button-text {
  font-size: medium;
  font-weight: 600;
}

.mainImgDefault {
  border-radius: 0 0 1.0625rem 1.0625rem;
  height: 73vh;
  width: 100%;
}

.optCreateImageUpload {
  border-radius: 1.0625rem;
  height: 100%;
  ion-icon {
    height: 7rem;
    width: 7rem;
    color: white;
  }
}

.custom-sm-btn-background {
  --background: rgba(48, 48, 48, 0.8);
  --background-activated: #303030;
  --background-hover: #303030;
  // --opacity: 0.5;
  --border-radius: 1rem;
  // --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: #ffffff;
}

.back-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
