<form (ngSubmit)="onSubmit()" *ngIf="true" [formGroup]="userSignupForm">
  <div class="ion-padding ion-margin-top">
    <ion-input
      label="First Name"
      formControlName="first_name"
      fill="outline"
      labelPlacement="floating"
    ></ion-input>
    <ng-container
      *ngIf="controls.first_name?.errors && controls.first_name?.touched"
    >
      <div *ngIf="controls.first_name?.errors['required']">
        <ion-text color="danger">First name is required</ion-text>
      </div>
    </ng-container>
  </div>

  <div class="ion-padding ion-margin-top">
    <ion-input
      label="Last Name"
      formControlName="last_name"
      fill="outline"
      labelPlacement="floating"
    ></ion-input>
    <ng-container
      *ngIf="controls.last_name?.errors && controls.last_name?.touched"
    >
      <div *ngIf="controls.last_name?.errors['required']">
        <ion-text color="danger">Last name is required</ion-text>
      </div>
    </ng-container>
  </div>

  <div class="ion-padding ion-margin-top">
    <ion-input
      label="Username"
      formControlName="user_name"
      fill="outline"
      labelPlacement="floating"
    ></ion-input>
    <ng-container
      *ngIf="controls.user_name?.errors && controls.user_name?.touched"
    >
      <ion-text color="danger" *ngIf="controls.user_name.errors?.['required']"
        >Username is required</ion-text
      >
      <ng-container
        *ngIf="
          controls.user_name?.errors &&
          controls.user_name?.touched &&
          controls.user_name?.dirty
        "
      >
        <ion-text
          color="danger"
          *ngIf="controls.user_name.errors?.['minlength']"
          >Username must have alteast 3 characters.</ion-text
        >
        <ion-text
          color="danger"
          *ngIf="controls.user_name.errors?.['maxlength']"
          >Username can have at most 20 characters.</ion-text
        >
        <ion-text color="danger" *ngIf="controls.user_name?.errors?.['pattern']"
          >Username must only contain alphabets</ion-text
        >
      </ng-container>
    </ng-container>
    <ion-text
      color="danger"
      *ngIf="controls.user_name?.errors?.['usernameExists']"
      >{{ "Username already exists" }}</ion-text
    >
    <ion-text color="danger" *ngIf="controls.user_name?.errors?.['noInternet']"
      >{{ "Check internet connection" }}</ion-text
    >
  </div>

  <div class="ion-padding">
    <ion-input
      label="Email"
      formControlName="email"
      fill="outline"
      labelPlacement="floating"
    ></ion-input>
    <!-- </ion-item> -->
    <ng-container *ngIf="controls.email?.errors && controls.email?.touched">
      <ion-text color="danger" *ngIf="controls.email.errors?.['required']"
        >Email is required</ion-text
      >
      <ng-container *ngIf="controls.email?.errors && controls.email?.dirty">
        <ion-text color="danger" *ngIf="controls.email.errors?.['pattern']"
          >Please enter a valid email</ion-text
        >
        <ion-text color="danger" *ngIf="controls.email.errors?.['emailExists']"
          >Email already used</ion-text
        >
      </ng-container>
    </ng-container>
  </div>

  <div class="ion-padding ion-margin-top">
    <ion-input
      label="Phone Number"
      formControlName="phone_number"
      fill="outline"
      labelPlacement="floating"
    ></ion-input>
  </div>

  <!-- <ion-item> -->
  <div class="ion-padding" *ngIf="!myInfoMode">
    <ion-input
      label="Password"
      type="password"
      formControlName="password"
      fill="outline"
      labelPlacement="floating"
    ></ion-input>
    <!-- </ion-item> -->
    <ng-container
      *ngIf="controls.password?.errors && controls.password?.touched"
    >
      <ion-text color="danger" *ngIf="controls.password.errors?.['required']">
        Password is required
      </ion-text>
      <ng-container
        *ngIf="
          controls.password?.errors &&
          controls.password?.touched &&
          controls.password?.dirty
        "
      >
        <ion-text
          color="danger"
          *ngIf="controls.password.errors?.['minlength']"
        >
          Password must alteast have 8 characters
        </ion-text>
        <ion-text
          color="danger"
          *ngIf="controls.password.errors?.['maxlength']"
        >
          Password can max have 20 characters
        </ion-text>
      </ng-container>
    </ng-container>
  </div>

  <!-- <ion-item> -->
  <div class="ion-padding" *ngIf="!myInfoMode">
    <ion-input
      label="Password Confirmation"
      type="password"
      fill="outline"
      formControlName="passwordConfirmation"
      labelPlacement="floating"
    ></ion-input>
    <!-- </ion-item> -->
    <ion-text
      color="danger"
      *ngIf="
        controls.passwordConfirmation.touched &&
        controls.passwordConfirmation.dirty &&
        userSignupForm.errors
      "
    >
      Passwords dont match
    </ion-text>
  </div>
  <!-- </ion-list> -->

  <div class="ion-padding" *ngIf="!myInfoMode; else UpdateInfo">
    <!-- <app-main-action-button type="submit">SIGN IN</app-main-action-button> -->
    <app-main-action-button type="submit"
      >CREATE ACCOUNT</app-main-action-button
    >
  </div>
  <ng-template #UpdateInfo>
    <div class="ion-padding">
      <app-main-action-button type="submit">UPDATE INFO</app-main-action-button>
    </div>
  </ng-template>
</form>
