<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon size="large" name="arrow-back-outline" routerLink="../" ></ion-icon>
    </ion-buttons>
    <ion-title>CART</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
            <ion-list-header>
              <h2>{{cartItems.length}} items in bag </h2>
            </ion-list-header>
              <app-custom-card-button
                   *ngFor="let cartItem of cartItems"
                >
                <ion-item>
                  <ion-thumbnail slot="start" class="ion-no-padding">
                    <img alt="Silhouette of mountains"  src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                  </ion-thumbnail>
                  <ion-label>
                    <ion-text >
                      <h5 class="ion-no-margin">{{cartItem?.name}}</h5>
                      <p class="ion-no-margin">Screen Landscape</p>
                      <h5 class="ion-no-margin">€{{cartItem?.price}}</h5>
                      <ion-badge>X{{cartItem?.upscale}}</ion-badge>
                  </ion-text>
                  </ion-label>
                </ion-item>
                <div class="ion-float-right ion-padding-end">
                  <h5>Remove</h5>
                </div>
              </app-custom-card-button>
</ion-content>
