.quantity {
  display: flex;
  justify-content: space-between;
}

.content-container {
  position: relative;
}

.remove-btn {
  position: absolute;
  right: 1px;
  top: 1px;
}

.micro-button {
  font-size: 10px;
  min-width: auto;
  position: absolute;
  display: flex;
  right: 1px;
  bottom: 5px;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
}

.totalPriceCard {
  padding: 10px 10px 20px 10px;
}
