<ion-content>
  <app-main-image imgStyle="mainImgDefault" [image]="image"></app-main-image>
  <!-- <app-image-picker
    [classFlag]="'create'"
    (userImageUUID)="uploadedImageUUID = $event"
    (imagePick)="getSelectedImage($event)"
  >
    <h1 class="bold-text">Take or Add photo</h1>
  </app-image-picker> -->
  <div class="prompt-card-container">
    <app-custom-card-button
      [mode]="'ios'"
      [classes]="'ion-padding custom-card-border-radius'"
      height="auto"
    >
      <ion-row>
        <ion-col size="4" class="icon-container">
          <app-image-picker
            (userImageUUID)="uploadedImageUUID = $event"
            [classFlag]="'create'"
          ></app-image-picker>
        </ion-col>
        <ion-col size="8">
          <p class="bold-text">Take or add photo (Mandatory)</p>
        </ion-col>
      </ion-row>
    </app-custom-card-button>
  </div>
  <ng-container class="main-container">
    <div class="ion-padding ion-margin-vertical">
      <app-main-action-button (click)="generateFaceswap()">
        <ng-container
          *ngIf="
            toastService.spinnerValue$ | async as showSpinner;
            else createButton
          "
        >
          <ion-spinner class="spinnerPosition" name="lines"></ion-spinner>
        </ng-container>
        <ng-template #createButton>
          <ion-icon class="ion-padding-horizontal" name="tv"></ion-icon>
          <p class="button-text ion-no-margin">Faceswap</p>
          <ion-icon class="ion-padding-horizontal" name="play"></ion-icon>
        </ng-template>
      </app-main-action-button>
    </div>
  </ng-container>
</ion-content>
